@import url("../variables.css");

body {
    font-family: 'Inter';
    /* другие глобальные стили */
}


.typography{
    font-family: "Inter";
    line-height: 16px;
}

.view_span {
    display: inline;
}

.color_regular {
    color: var(--textInverse);
}

.variant_regularSM {
    font-size: 11px;
}